.accordeon__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  animation: fadeEffect 0.6s ease;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.accordeon__item p {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.3s ease, max-height 0.3s ease;
}

.accordeon__item--default-visible p {
  max-height: initial;
}

.accordeon__item--active p  {
  opacity: 1;
}
