.button {
  box-sizing: border-box;
  display: inline-block;
  padding: 25px;
  font-family: $primary-font;
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  color: $white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid $white;
  background-color: $button-bg;
  cursor: pointer;
  transition: color 0.3s, background 0.3s, border 0.3s;

  @media #{$tablet-width} {
    padding: 27px;
  }

  &:focus-visible {
    color: $text-special;
    border: 2px solid $black;
    outline: none;
    background-color: rgba(255, 255, 255, 0.8);
  }

  &:hover {
    color: $text-special;
    border: 2px solid $white;
    background-color: $white;
  }

  &:active {
    color: $text-basic;
    border: 2px solid $white;
    background-color: $white;
  }

  &:disabled {
    color: $white;
    border: 2px solid $white;
    background-color: $button-bg;
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
  }
}

.button--disabled {
  color: $white;
  border: 2px solid $white;
  background-color: $button-bg;
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}

.button--secondary {
  color: $text-basic;
  border: 2px solid $text-basic;
  background-color: $white;

  &:focus-visible {
    color: $white;
    border: 2px solid $black;
    outline: none;
    background: linear-gradient(115deg, rgba(237, 2, 51, 0.8) 0%, rgba(237, 2, 51, 0.8) 20%, rgba(0, 62, 183, 0.8) 95%, rgba(0, 62, 183, 0.8) 100%);
  }

  &:hover {
    color: $white;
    border: 2px solid transparent;
    border-image: linear-gradient(115deg, #ed0233 0%, #ed0233 20%, #003eb7 95%, #003eb7 100%) 1;
    background: linear-gradient(115deg, #ed0233 0%, #ed0233 20%, #003eb7 95%, #003eb7 100%);
  }

  &:active {
    color: rgba(255, 255, 255, 0.7);
    border: 2px solid transparent;
    border-image: linear-gradient(115deg, #ed0233 0%, #ed0233 20%, #003eb7 95%, #003eb7 100%) 1;
    background: linear-gradient(115deg, #ed0233 0%, #ed0233 20%, #003eb7 95%, #003eb7 100%);
  }

  &:disabled {
    color: $text-basic;
    border: 2px solid $text-basic;
    background-color: $white;
    opacity: 0.3;
    pointer-events: none;
    cursor: default;
  }
}

.button--secondary.button--disabled {
  color: $text-basic;
  border: 2px solid $text-basic;
  background-color: $white;
  opacity: 0.3;
  pointer-events: none;
  cursor: default;
}
