.header-nav {
  color: $white;
  background: $gradient-promo;
}

.header-nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: $max-content-width;
  margin: 0 auto;
  padding: 16px $mobile-side;

  @media #{$tablet-width} {
    padding: 30px $tablet-side;
  }

  @media #{$desktop-width} {
    padding: 30px $desktop-side;
  }
}

.header-nav__contacts {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.header-nav__phone {
  font-size: 22px;
  line-height: 1;
  font-style: normal;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
  transition: color 0.3s, opacity 0.3s;

  @media #{$tablet-width} {
    font-size: 24px;
  }

  @media #{$desktop-width} {
    font-size: 26px;
  }

  &:focus-visible {
    color: $accent-dark;
    outline: none;
  }

  &:hover {
    color: $accent-dark;
    opacity: 0.5;
  }

  &:active {
    color: $text-basic;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 6px;
  }
}
