.price {
  background-color: $bg-light;
}

.price__wrapper {
  padding: 40px $mobile-side;
  text-align: center;
  background-color: $bg-light;

  @media #{$tablet-width} {
    padding: 60px $tablet-side;
  }

  @media #{$desktop-width} {
    padding: 100px $desktop-side;
  }
}

.price__tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price__title {
  margin: 0 0 30px;

  @media #{$tablet-width} {
    margin: 0 0 35px;
  }

  @media #{$desktop-width} {
    margin: 0 0 20px;
  }
}

.price__tablinks {
  display: flex;
  justify-content: flex-start;
  gap: 45px;
  max-width: 400px;
  margin: 0 auto 30px;
  padding: 0;
  list-style-type: none;
  border-bottom: 2px solid $price-border;

  @media #{$tablet-width} {
    gap: 43px;
    margin: 0 auto 45px;
  }

  @media #{$desktop-width} {
    gap: 50px;
    margin: 0 auto 40px;
  }
}

.price__tablink {
  margin: 0;
  padding: 0 0 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: $text-light;
  background-color: transparent;
  border: none;

  @media #{$tablet-width} {
    font-size: 18px;
  }

  @media #{$desktop-width} {
    font-size: 20px;
  }
}

.price__tablink--active {
  position: relative;
  color: $text-basic;

  &::before {
    position: absolute;
    bottom: -2px;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    background-color: $price-border-active;
  }
}

.price__content {
  display: grid;
  gap: 35px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media #{$tablet-width} {
    gap: 40px;
  }

  @media #{$desktop-width} {
    grid-template-columns: repeat(3, 1fr);
  }
}

.price__content-item {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: max-content max-content 120px 66px;
  gap: 18px;
  width: 290px;
  padding: 50px 20px;
  background-color: $white;

  @media #{$tablet-width} {
    grid-template-rows: max-content max-content 150px 66px;
    gap: 22px;
    width: 380px;
    padding: 65px 30px;
  }

  @media #{$desktop-width} {
    gap: 17px;
    width: 360px;
  }
}

.price__subtitle {
  margin: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 1;
  text-align: center;

  @media #{$tablet-width} {
    font-size: 24px;
  }

  @media #{$desktop-width} {
    font-size: 26px;
  }
}

.price__text {
  margin: 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  text-align: center;

  @media #{$tablet-width} {
    font-size: 16px;
    line-height: 24px;
  }
}

.price__value-wrapper {
  display: grid;
  grid-template-rows: 48px 72px;
  justify-items: center;

  @media #{$tablet-width} {
    grid-template-rows: 60px 90px;
  }
}

.price__value {
  grid-area: 2 / 1 / 3 / 2;
  display: flex;
  gap: 10px;
  margin: 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  color: $text-special;
  z-index: 1;

  @media #{$tablet-width} {
    gap: 14px;
    font-size: 60px;
    line-height: 90px;
  }
}

// .price__value::after {
//   content: "";
//   width: 24px;
//   height: 33px;
//   background-image: url("/__spritemap#sprite-ruble");
//   background-size: 100% 100%;
// }

.price__bg {
  grid-area: 1 / 1 / 3 / 2;
  margin: 0;
  font-weight: 700;
  font-size: 80px;
  line-height: 1.5;
  color: $text-shadow;

  @media #{$tablet-width} {
    font-size: 100px;
  }
}
