html {
  height: 100%;
}

body {
  min-width: 320px;
  font-family: $primary-font;
  margin: 0;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  color: $text-basic;

  @media #{$tablet-width} {
    font-size: 20px;
    line-height: 24px;
  }
}
