// Fonts

$primary-font: "Roboto Condensed", "Arial", sans-serif;
$secondary-font: "Alumni Sans", "Arial", sans-serif;

// Colors

$text-basic: #102654;
$text-opacity: rgba(16, 38, 84, 0.5);
$text-special: #103aae;
$text-special-dark: #2e35ac;
$text-light: #b6bdcc;
$text-shadow: #e8e8e8;
$button-bg: transparent;
$white: #ffffff;
$black: #000000;
$price-border: rgba(120, 120, 120, 0.2);
$price-border-hover: #787878;
$price-border-active: #d10a42;
$grey-basic: #c8c9cc;
$bg-light: #f8f9fc;
$bg-accent: #ed0233;
$bg-dark: #030a1a;
$error-text: #ff121f;
$accent-dark: #1c3374;
$divider: #74819c;

// $grey-basic: #bdbdbd;
// $grey-middle: #e2e2e2;
// $grey-light: #f8f8f8;
// $accent-dark: #593cac;
// $accent-primary: #7859cf;
// $accent-middle: #9070ec;
// $accent-light: #f0ebff;
// $accent-opacity: rgba(120, 89, 207, 0.25);
// $slider-flat-white: #f3ebe1;
// $slider-lavender: #eae6fc;
// $slider-espresso: #e5e6e8;
$gradient-promo: linear-gradient(90deg, #1c3477 0%, #1a3578 40%, #73184b 75%, #b4022a 100%);

// Breakpoint

$breakpoint-desktop: 1366px;
$breakpoint-tablet: 768px;
$breakpoint-gap: 0.02px;

// Viewports

$mobile-only: "(max-width: #{$breakpoint-tablet - $breakpoint-gap})";
$tablet-width: "(min-width: #{$breakpoint-tablet})";
$tablet-only: "(min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop - $breakpoint-gap})";
$desktop-width: "(min-width: #{$breakpoint-desktop})";


// Adaptive sizes

$max-content-width: 1366px;
$mobile-side: 15px;
$tablet-side: 45px;
$desktop-side: 103px;
