.trial {
  background-color: $text-basic;
}

.trial__wrapper {
  box-sizing: border-box;
  padding: 71px $mobile-side 70px;
  color: $white;
  background-color: $text-basic;

  @media #{$tablet-width} {
    padding: 60px 164px;
  }

  @media #{$desktop-width} {
    max-width: calc($max-content-width / 2);
    margin-left: auto;
    padding: 60px $desktop-side;
  }
}

.trial__title {
  margin: 0 0 31px;

  @media #{$tablet-width} {
    margin: 0 0 33px;
    font-size: 54px;
    text-align: center;
  }

  @media #{$desktop-width} {
    text-align: left;
  }
}

.trial__group {
  margin: 0;
  padding: 0;
  border: none;
}

.trial__list {
  display: grid;
  gap: 10px;
  margin: 0 0 14px;
  padding: 0;
  list-style-type: none;

  @media #{$tablet-width} {
    grid-template-columns: 1fr 1fr;
    gap: 15px 30px;
    margin: 0 0 13px;
  }
}

.trial__input {
  width: 100%;
}

.trial__button {
  width: 100%;
  padding: 22px;

  @media #{$tablet-width} {
    padding: 26px 24px 24px;
  }
}
